{% extends 'base.html' %}

{% block title %}
Download Video
{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'youtube_app/home.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-2">
	<center><h2 class="mt-2">YouGet</h2></center>
	<div class="row mt-1">
		<div class="col-12">
			<input id="url-field" type="text" name="url" class="form-control m-1" placeholder="Enter Youtube URL ">
			<center><span id="search" type="button" onclick="ready_file(this.id)" class="btn btn-success">Search</span></center>
		</div>
		<div id="result" class="col mt-3" align="center">
		</div>
	</div>
</div>
<script type="text/javascript">
	let csrf_token = '{{csrf_token}}'
</script>
<script type="text/javascript" src="{% static 'youtube_app/js/home.js' %}"></script>
{% endblock %}