<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" sizes="16x16" type="image/png">
    {% block head %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1"><img src="{% static 'favicon.png' %}" width="40" height="50"> <strong>You<i><font color="yellow">Get</font></i></strong></span>
</nav>
    {% block content %}
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap4/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap4/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap4/bootstrap.min.js' %}"></script>
  </body>
</html>